# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\Luffy_Camp_8days\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
